* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
}

QMainWindow, QDialog {
	background: white;
}

QLineEdit {
	padding: 0px 5px;
	border: none;
	border-bottom: 1px solid green;
}

QPushButton {
	background-color: grey;
	color: white;
	padding: 5px;
	border: none;
}

QPushButton:hover {
	background-color: lightgrey;
}

QPushButton:pressed {
	background-color: lightslategray;
	color: black;
}

window--Popup QGraphicsView {
	border: 3px solid blue;
}